<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Revival created logo.png">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Revival Abuja</title>
</head>
<body>


  
  <div class="inputs">

            <div class="sermon">
                
                <div class="live">
                    <form action="/api/auth/lives" method="post">

                        <div class="close">
                            <img src="/images/close-svgrepo-com.png" alt="">
                        </div>

                        <p class="headdp">Live</p>
                        <label for="live">iframe link:</label>
                        <input type="text" name="lives" id="live" placeholder="Live Sermon"><br>
                        
                        <div class="btn">
                            <button type="submit">Post</button>
                            </div>
                    </form>
                </div>

                <div class="n-sermon">

                    <form action="/api/auth/sermon" method="post" enctype="multipart/form-data"> 

                        <div class="close">
                            <img src="/images/close-svgrepo-com.png" alt="">
                        </div>

                        <p class="headdp">normal sermon</p>
                        <label for="iframe">Sermon Image:</label>
                        <input type="file" name="image1" class="link" placeholder="image Url">
                        <br>
                        <label for="title">Title:</label>
                        <input type="text" name="title" class="title" placeholder="Preaching title">
                        <br>
                        <label for="preacher">Preacher:</label>
                        <input type="text" name="preacher" class="preacher" placeholder="Preacher's name">
                        <br>
                        <label for="ylink">YouTube Link:</label>
                        <input type="text" name="ylink" class="ylink" placeholder="Youtube link">

                        <br>
                        
                        
                        <div class="btn">
                            <button type="submit">Post</button>
                            </div>
                    </form>
                </div>
            </div>





            <div class="eventin">
                <form action="/api/auth/event" method="post" enctype="multipart/form-data">
                    <div class="close">
                        <img src="/images/close-svgrepo-com.png" alt="">
                    </div>
                    <p class="headdp">Events</p>
                    <label for="eventimg">Event Image:</label>
                    <input type="file" name="image1" class="eimg" placeholder="event Img">
                    <br>
                    <label for="eventhead">Event Title:</label>
                    <input type="text" name="etitle" class="etitle" placeholder="event title">
                    <br>
                    <label for="eventext">Event Text:</label>
                    <input type="text" name="etext" class="etext" placeholder="event text">
                    <br>

                    <label for="eventext">Event Time:</label>
                    <input type="text" name="time" class="etext" placeholder="event time">
                    <br>
                    <label for="eventext">Event Date:</label>
                    <input type="text" name="date" class="etext" placeholder="event date">
                    <br>

                    
                    <div class="btn">
                        <button type="submit">Post</button>
                        </div>
                </form>
            </div>




            <div class="testimony">

                <form id="tform" action="/api/auth/testi" method="post">

                    <div class="close">
                        <img src="/images/close-svgrepo-com.png" alt="">
                    </div>

                    <p class="headdp">Testimony</p>
                    <label for="Tname">Person's Name:</label>
                    <input type="text" name="pname" class="pname" placeholder="Person's namm">
                    <br>
                    <label for="Ttitle">Testimony Title:</label>
                    <input type="text" name="ttitle" class="ttitle" placeholder="Testimony Title">
                    <br>
                    <label for="tinfo">Testimony Info:</label>
                    <input type="text" name="tinfo" class="tinfo" placeholder="Testimony Info">

                    <br>

                    <div class="btn">
                        <button type="submit">Post</button>
                        </div>
                </form>
            </div>






            <div class="blogs">

                <form action="/api/auth/blog" method="post" enctype="multipart/form-data">


                    <div class="close">
                        <img src="/images/close-svgrepo-com.png" alt="">
                    </div>

                    <p class="headdp">Blog</p>
                    <label for="blogimg">Blog Image</label>
                    <input type="file" name="image1" class="bloimg" placeholder="image url">
                    <br>

                    <label for="blotitle">Blog Title</label>
                    <input type="text" name="blotitle" class="blotitle" placeholder="Blog Title">
                    <br>


                    <label for="bloinfo">Blog Info</label>
                    <input type="text" name="bloinfo" class="bloinfo" placeholder="Blog Info">
                    <br>

                    <label for="blopname">Blog Poster Name</label>
                    <input type="text" name="blopname" class="blopname" placeholder="Blog Poster Name">
                    <br>

                    <label for="blodate">Blog Date</label>
                    <input type="text" name="blodate" class="blodate" placeholder="Blog Date">
                    <br>

                    <div class="btn">
                    <button type="submit">Post</button>
                    </div>
                </form>
            </div>


            <div class="pixf">
                <form action="/api/auth/pictures" method="post" enctype="multipart/form-data">

                    <div class="close">
                        <img src="/images/close-svgrepo-com.png" alt="">
                    </div>

                    <label for="Pictures">Pictures</label>
                    <input type="file" name="image1"  id="image1" required>

                    <div class="btn">
                        <button type="submit">Post</button>
                        </div>
                </form>
            </div>

            <div class="quof">
                <form action="/api/auth/quotes" method="post" enctype="multipart/form-data">

                    <div class="close">
                        <img src="/images/close-svgrepo-com.png" alt="">
                    </div>

                    <label for="Quotes">Quotes</label>
                    <input type="file" name="image1" id="quotes" placeholder="insert quote pic url">

                    <div class="btn">
                        <button type="submit">Post</button>
                        </div>
                </form>
            </div>

        </div>

        <div class="dashtop">


            <p class="headpp">Dashboard</p>


            <div class="icons">
                <div class="notification-icon">
                    <i class="fa fa-bell"></i>
                    <span class="badge" style="<%= unseenCount > 0 ? 'display: inline-block;' : 'display: none;' %>">
                      <%= unseenCount %>
                    </span>
                  </div>
                  
                  
                  <div class="profile">
                    <i class="fa fa-circle-user"></i>
                    <p>Revival Assembly</p>
                    <div class="profile-dropdown">
                      <div class="dropdown-item email">
                        <i class="fas fa-envelope"></i>
                        <span><%= user.email %></span>
                      </div>
                      <div class="dropdown-item logout">
                        <button class="logout-btn">
                          <i class="fas fa-sign-out-alt"></i> Logout
                        </button>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Confirmation Popup -->
                  <div class="logout-confirmation">
                    <div class="confirmation-content">
                      <h3>Are you sure you want to logout?</h3>
                      <div class="confirmation-buttons">
                        <button class="btn-yes">Yes</button>
                        <button class="btn-no">No</button>
                      </div>
                    </div>
                  </div>
                  </div>
                
                
            </div>
            
        </div>



        
       
          
        <div class="notification-popup">
            <div class="notification-header">
              <h2>Notifications</h2>
              <button class="close-notification"><i class="fa fa-close"></i></button>
            </div>
          
            <div class="notification-list">
                <% if (updates && updates.length > 0) { %>
                  <% updates.forEach(function (item) { %>
                    <div class="notification-item">
                      <div class="notification-icon-type">
                        <% if (item.type === 'give') { %>
                          <i class="fas fa-hand-holding-heart"></i>
                        <% } else if (item.type === 'contact') { %>
                          <i class="fas fa-envelope"></i>
                        <% } else { %>
                          <i class="fas fa-bell"></i>
                        <% } %>
                      </div>
                      <div class="notification-content">
                        <p><strong>
                          <%= item.type === 'give' ? 'New Giving Received' : 'New Contact Message' %>
                        </strong></p>
              
                        <% if (item.message) { %>
                          <p><%= item.message %></p>
                        <% } %>
              
                        <% if (item.category) { %>
                          <p><strong>Category:</strong> <%= item.category %></p>
                        <% } %>
              
                        <% if (item.amount) { %>
                          <p><strong>Amount:</strong> ₦<%= item.amount %></p>
                        <% } %>
              
                        <% if (item.choose) { %>
                          <p><strong>Option:</strong> <%= item.choose %></p>
                        <% } %>
              
                        <% if (item.pastorname) { %>
                          <p><strong>Pastor:</strong> <%= item.pastorname %></p>
                        <% } %>
              
                        <% if (item.name) { %>
                          <p><strong>By:</strong> <%= item.name %></p>
                        <% } %>
              
                        <% if (item.email) { %>
                          <p><strong>Email:</strong> <%= item.email %></p>
                        <% } %>
              
                        <span class="notification-time">
                          <%= new Date(item.createdAt).toLocaleString() %>
                        </span>
                      </div>
                    </div>
                  <% }); %>
                <% } else { %>
                  <p style="text-align: center;">No recent updates yet.</p>
                <% } %>
              </div>
              
          </div>
          
          









        




        <div class="serm">

            <p class="headp">Sermon</p>

            <div class="btn">
                <button class="blive">Live</button>
                <button class="nsermon">Sermon</button>
            </div>
        </div>




      <div class="event">

        <p class="headp">Events</p>

        <div class="btn">
            <button class="eventb">Events</button>
        </div>
      </div>





      <div class="test">

        <p class="headp">Testimonies</p>

        <div class="btn">
            <button class="testimonyb">Testimony</button>
        </div>
      </div>

   



      <div class="blo">

        <p class="headp">Blogs</p>

        <div class="btn">
            <button class="blogb">Blog</button>
        </div>
      </div>


      <div class="pic">

        <div class="pix1">
            <p class="headp">Pictures</p>

                    <div class="btn">
                        <button class="pic1">Picture</button>
                    </div>

        </div>

        <div class="quote">
            <p class="headp">Quote</p>

                    <div class="btn">
                        <button class="Quo">Quote</button>
                    </div>
        </div>
       
      </div>



   

<script>
    document.addEventListener('DOMContentLoaded', () => {
  const profile = document.querySelector('.profile');
  const dropdown = document.querySelector('.profile-dropdown');
  const logoutBtn = document.querySelector('.logout-btn');
  const confirmationPopup = document.querySelector('.logout-confirmation');
  const btnYes = document.querySelector('.btn-yes');
  const btnNo = document.querySelector('.btn-no');

  // Toggle dropdown on profile click
  profile.addEventListener('click', (e) => {
    e.stopPropagation();
    dropdown.classList.toggle('active');
  });

  // Close dropdown when clicking outside
  document.addEventListener('click', (e) => {
    if (!profile.contains(e.target)) {
      dropdown.classList.remove('active');
    }
  });

  // Show confirmation popup on logout click
  logoutBtn.addEventListener('click', (e) => {
    e.stopPropagation(); // Prevent dropdown from closing
    confirmationPopup.classList.add('active');
    dropdown.classList.remove('active'); // Close dropdown
  });

  // Confirm logout
  btnYes.addEventListener('click', () => {
    // Replace with your actual logout logic
    window.location.href = '/admin/logout';
  });

  // Cancel logout
  btnNo.addEventListener('click', () => {
    confirmationPopup.classList.remove('active');
  });

  // Close popup when clicking outside
  confirmationPopup.addEventListener('click', (e) => {
    if (e.target === confirmationPopup) {
      confirmationPopup.classList.remove('active');
    }
  });
});
</script>
      <script>

        //live Sermon js
        document.querySelector(".blive").addEventListener("click", function(){
            document.querySelector(".live").classList.add("active")
        })


          //normal Sermon js
          document.querySelector(".nsermon").addEventListener("click", function(){
            document.querySelector(".n-sermon").classList.add("active")
        })


            //Events js
            document.querySelector(".eventb").addEventListener("click", function(){
            document.querySelector(".eventin").classList.add("active")
        })


            //Testimony js
            document.querySelector(".testimonyb").addEventListener("click", function(){
            document.querySelector(".testimony").classList.add("active")
        })

            //Blog js
            document.querySelector(".blogb").addEventListener("click", function(){
            document.querySelector(".blogs").classList.add("active")
        })


              //Pictures js
              document.querySelector(".pic1").addEventListener("click", function(){
            document.querySelector(".pixf").classList.add("active")
        })

              //quotes js
              document.querySelector(".Quo").addEventListener("click", function(){
            document.querySelector(".quof").classList.add("active")
        })


        document.querySelectorAll(".close").forEach(button => {
    button.addEventListener("click", function(){
        document.querySelectorAll(".blogs, .live, .n-sermon, .eventin, .testimony, .pixf, .quof").forEach(section => {
            section.classList.remove("active");
        });
    });
});

      </script>




<script>


document.addEventListener('DOMContentLoaded', () => {
  const bellIcon = document.querySelector('.notification-icon');
  const notificationPopup = document.querySelector('.notification-popup');
  const closeButton = document.querySelector('.close-notification');

  // Toggle notification popup on bell click
  bellIcon.addEventListener('click', () => {
    notificationPopup.classList.toggle('active');
  });

  // Close notification popup on close button click
  closeButton.addEventListener('click', () => {
    notificationPopup.classList.remove('active');
  });

  // Close popup when clicking outside
  document.addEventListener('click', (e) => {
    if (!notificationPopup.contains(e.target) && !bellIcon.contains(e.target)) {
      notificationPopup.classList.remove('active');
    }
  });
});







// testimony form





</script>

<script>
    document.querySelector('.notification-icon').addEventListener('click', () => {
        fetch('/admin/mark-as-seen', {
  method: 'POST'
}).then(res => {
  if (res.ok) {
    const badge = document.querySelector('.notification-icon .badge');
    if (badge) badge.style.display = 'none';
  }
});

    });
  </script>
  





    <!-- <script src="/js/all.js"></script> -->
</body>
</html>